  <article class="article">
    <div class="article-header">
      <div class="article-title">
<!-- TITLE -->
      </div>

      <div class="article-meta">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <span class="icon ">
                <i class="fas fa-user"></i>
              </span>
              <a href="/about.html" class="is-link"> jsontyler</a>
            </div>
            <div class="level-item">
              <span class="icon ">
                <i class="fas fa-calendar"></i>
              </span>
<!-- DATE_HERE -->
            </div>
            <div class="level-item">
              <span class="icon ">
                <i class="fas fa-tags"></i>
              </span>
<!-- TOPIC_HERE -->
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="article-image">
      <figure class="image">
<!-- IMAGE HERE -->
      </figure>
    </div>

    <div class="article-content">
      <div class="articleContent">
<!-- CONTENT HERE -->
      </div>
    </div>

    <div class="article-footer">
      <div class="level">
        <div style="padding: 5px 2px" class="level-left">

        </div>
      </div>
    </div>
  </article>
